{% extends 'AmyAndNick/base.html' %}

{% load staticfiles %}

{% block title %}Accomodations{% endblock %}

{% block body_block %}
   
                <h3>We hope you will stay with us at the camp</h3>
				<!--/div>
            <div>
            <p></strong>.</p-->

           
			<div>
            	<img src="{% static "images/tour_treetop_01.jpg" %}" alt="Tree top cabins" /> 
			</div>
            <h3>Each cabin has a bathroom with showers and stalls</h3>
			
			<div>
            	<img src="{% static "images/tour_treetop_inside_01.jpg" %}" alt="Inside tree top cabins" /> 
			</div>
			
			<a href="/AmyAndNick/rsvp/">RSVP</a><br /-->
			<div>
				<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="MZ7WVCZBWBQCW">
				<table align="center">
				<tr><td><input type="hidden" name="on0" value="Camp Purchases">Camp Purchases</td></tr><tr><td><select name="os0">
					<option value="1 night and food">1 night and food $95.00 USD</option>
					<option value="2 nights and food">2 nights and food $195.00 USD</option>
					<option value="Breakfast and Lunch on Sat.">Breakfast and Lunch on Sat. $30.00 USD</option>
				</select> </td></tr>
				<tr><td><input type="hidden" name="on1" value="Do you need linens?">Do you need linens?</td></tr><tr><td><select name="os1">
					<option value="I will bring my own stuff">I will bring my own stuff </option>
					<option value="I need bed linens, a towel, and a blanket">I need bed linens, a towel, and a blanket </option>
					<option value="I only need bed linens and a blanket">I only need bed linens and a blanket </option>
				</select> </td></tr>
				</table>
				<input type="hidden" name="currency_code" value="USD">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
					
			</div>
			
{% endblock %}
