{% extends 'AmyAndNick/base.html' %}

{% load staticfiles %}

{% block title %}Schedule{% endblock %}

{% block body_block %}
   <h2>Bring your sense of adventure! And…</h2>
	<ul class="list_left">
		<li><b>For Primping and Partying</b></li>
		<li>
			<ul  class="list_left">
				<li>Chic wedding clothes</li>
				<li>Toiletries</li>
				<li>Hair dryer</li>
				<li>Towel</li>
			</ul>
		</li>
		<li><b>For Playing</b></li>
		<li>
			<ul  class="list_left">
				<li>Clothes and shoes for playing outdoors</li>
				<li>Layers for when the sun goes down</li>
				<li>Swimsuit and flip flops</li>
				<li>Water bottle</li>
				<li>Headlamp</li>
				<li>Bug spray and sunblock</li>
			</ul>
		</li>
		<li><b>For Sleeping</b></li>
		<li>
			<ul  class="list_left">
				<li>Pillow</li>
				<li>Sleeping bag or bed linens</li>
			</ul>
		</li>	
	</br>
		<li>Flying in or missing camping gear</li> 
		<li>We're happy to provide you with bedding, a pillow, and a towel.</li>
		<li>Just let us know below when you pay for your cabins.</li>
	</ul>
		
		
	
			
{% endblock %}
