{% extends 'AmyAndNick/base.html' %}

{% load staticfiles %}

{% block title %}Schedule{% endblock %}

{% block body_block %}
   <h1>Bring your sense of adventure! And…</h1>
   </br>
	<ul class="list_bring_outer">
		<li><b>For Primping and Partying</b></li>
		<li>
			<ul class="list_bring">
				<li>Chic wedding clothes</li>
				<li>Toiletries</li>
				<li>Hair dryer</li>
				<li>Towel</li>
			</ul>
		</li>
		</br>
		<li><b>For Playing</b></li>
		<li>
			<ul class="list_bring">
				<li>Clothes and shoes for playing outdoors</li>
				<li>Layers for when the sun goes down</li>
				<li>Swimsuit and flip flops</li>
				<li>Water bottle</li>
				<li>Headlamp</li>
				<li>Bug spray and sunblock</li>
			</ul>
		</li>
		</br>
		<li><b>For Sleeping</b></li>
		<li>
			<ul class="list_bring">
				<li>Pillow</li>
				<li>Sleeping bag or bed linens</li>
			</ul>
		</li>
	</br>
		<li>Flying in or missing camping gear?</li>
		<li>We're happy to provide you with bedding, a pillow, and a towel.</li>
		<li>Just let us know on the <a href="{% url 'accomodations' %}">Accomodations page</a> when you pay for your cabin.</li>
	</ul>




{% endblock %}
