{% extends 'AmyAndNick/base.html' %}

{% load staticfiles %}

{% block title %}Registry{% endblock %}

{% block body_block %}
   
	<h1>Your company is more than gift enough, ...</h1>
				<div class="inner">
						<ul class="list_outer">
							<li><a href="http://www.honeyfund.com/wedding/amyandnick2015" target="_blank"><img src="{% static "images/Honeyfund.png" %}" height="50" width="150"></a></li>
							</br>
							<li><a href="http://www.crateandbarrel.com/Gift-Registry/amy-wu-and-nick-killingsworth/r5256579" target="_blank"><img src="{% static "images/CrateLogo2.jpeg" %}" height="23" width="150"></a></li>
							<li><a href="https://secure.westelm.com/registry/59kjgz28ct/registry-list.html" target="_blank"><img src="{% static "images/WestElm.png" %}" height="100" width="150"></a></li>
							<!--li><a href="https://www.macys.com/wedding-registry?SESS_COOKIE_REDIRECT_DONE=true" target="_blank"><img src="{% static "images/Macys_Logo.jpg" %}" height="42" width="150"></a></li>
						</br>
							<li><a href="http://www.crateandbarrel.com/Gift-Registry/amy-wu-and-nick-killingsworth/r5256579" target="_blank"><img src="{% static "images/amazon_logo.png" %}" height="52" width="180"></a></li-->
						</ul>
				</div>
{% endblock %}
