{% extends 'AmyAndNick/base.html' %}


{% block title %} RSVP {% endblock %}
	
{% block body_block %}
		<h2>There are two ways for you to let us know your plans.  You can return the RSVP card you received in the mail or you can fill out and submit the form below.  Thanks for letting us know.</h2>
		
		<form id="rsvp_form" method="post" action="/AmyAndNick/rsvp/">
			
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }} <br />
			{% endfor %}
			
			<input type="submit" name="submit" value="rsvp" /><br />
		</form>
{% endblock %}